#### Task 1: Financial Time-Series Anomaly Detection  
##### Objective: Build a tool to identify anomalies in stock price trends to detect unusual activities or market manipulations.  
● Dataset: Yahoo Finance Stock Market Dataset  
● Steps:  
1. Download and preprocess historical stock price data for a few chosen 
companies. 
2. Calculate financial indicators (e.g., SMA, EMA, RSI, Bollinger Bands). 
3. Use Isolation Forest or DBSCAN for unsupervised anomaly detection.  
4. Build a time-series forecasting model using LSTM or Prophet to identify 
deviations.  
5. Visualize detected anomalies on stock price trends.  
● Outcome: A tool or report identifying anomalies in stock price trends  
and possible market manipulations.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [ ]:
companies = ["AAPL","MSFT","GOOG"]

In [ ]:
data = {ticker:yf.download(ticker,start='2018-01-01', end='2023-01-01')for ticker in companies}

In [ ]:
for ticker in data:
    data[ticker] = data[ticker][[]"close"]].dropna()

In [4]:
data = pd.read_excel("data/yahoo_data.xlsx")

In [5]:
data.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Apr 28, 2023",33797.43,34104.56,33728.40,34098.16,34098.16,354310000
1,"Apr 27, 2023",33381.66,33859.75,33374.65,33826.16,33826.16,343240000
2,"Apr 26, 2023",33596.34,33645.83,33235.85,33301.87,33301.87,321170000
3,"Apr 25, 2023",33828.34,33875.49,33525.39,33530.83,33530.83,297880000
4,"Apr 24, 2023",33805.04,33891.15,33726.09,33875.40,33875.40,252020000

In [6]:
data.shape

(1258, 7)